<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login | SleepTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/auth.css') }}"
    />
  </head>
  <body class="auth-page">
    <a href="{{ url_for('main.index') }}" class="home-button">← Home</a>
    
    <div class="auth-container">
      <h2 class="text-center mb-4">Welcome Back</h2>
      <form id="loginForm" action="{{ url_for('auth.login') }}" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="you@example.com"
            required
          />
          <small id="emailError" class="error-message"></small>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="********"
            required
          />
          <small id="passwordError" class="error-message"></small>
        </div>
        
        <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
        <p class="text-center mt-3">
          Don't have an account?
          
            href="{{ url_for('auth.register') }}"
            class="text-decoration-underline text-light"
            >Register</a
          >
        </p>
      </form>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/Homepage/login-validation.js') }}"></script>
  </body>
</html>